/*
---------------------------------------PLANET_01
*/

.main_planet_01 {
  justify-content: flex-end;
}

.planet_01 {
  display: flex;
  height: 100vh;
  width: 90vw;
  position: relative;
  bottom: 20%;
}

.planet_01_block {
  display: flex;
}

.planet_01_block:nth-child(1) {
  width: 25%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.planet_01_block:nth-child(2) {
  width: 25%;
  border: solid rgba(255, 255, 255, 0.19);
  border-width: 0 1px;
  position: relative;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
}

.planet_01_block:nth-child(1) > img:nth-child(2) {
  width: 90%;
  margin-top: 15%;
  position: relative;
  left: 10%;
}

.planet_01_block:nth-child(3) {
  width: 60%;
  justify-content: flex-end;
  align-items: flex-end;
}

.planet_01_block:nth-child(3) > img {
  width: 90%;
}

.planet_01_block__p {
  display: flex;
  font-family: "Jost";
  font-weight: 400;
  font-size: 1.2em;
  line-height: 29px;
  color: #ffffff;
  width: 25%;
  margin-right: 50%;
}

.planet_01_block__p > hr {
  transform: rotate(90deg);
}

.planet_01_block__item {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.planet_01_block__item > h1 {
  font-size: 9rem;
  font-weight: 300;
  color: #ffffff;
  position: relative;
  left: 5%;
  margin: 0;
}

.planet_01_block__item > p {
  font-family: "League Spartan";
  font-weight: 300;
  font-size: 1.1em;
  line-height: 23px;
  letter-spacing: 0.075em;
  color: rgba(255, 255, 255, 0.7);
  width: 85%;
  margin-top: 10%;
  margin-right: 5%;
}

.planet_01_block__item > img {
  margin-left: 60%;
}
