.about__block{
    width: 100vw;
    height: 90vh;
    border: 2px red solid;
    
    display: flex;
    flex-direction: row;
}
.about__info{
    width: 53vw;
    height: 100%;
    border: 2px green solid;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.info__header{
    height: 25%;
    width: 100%;
    
    font-family: 'Lateef', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 5rem;
    border: 2px green solid;

    display: flex;
    justify-content: center;
    align-items: center;
}
.info__header h1{
    margin-left: 5%;
}
.info__text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    border: 2px red solid;
}
.info__text p{
    margin: 2.5% 30%;
    line-height: 23px;
}

.