/*
---------------------------------------PLANETS
*/

.planets {
  justify-content: center;
  display: flex;
  width: 87vw;
}

.planets_cards {
  display: flex;
  justify-content: center;
  transform: rotate(-2deg);
}

.planets_cards__item {
  width: 20vw;
  height: 80vh;
  background-image: url("../images/Model_planet.svg");
  background-repeat: no-repeat;
  box-shadow: 50px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  transform: rotate(2deg);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.planets_cards__item > h1 {
  font-family: "Lateef";
  font-style: normal;
  font-weight: 400;
  font-size: 7em;
  color: #ffffff;
  display: flex;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 0;
  text-transform: capitalize;
  grid-row: 2/3;
}

.planets_cards__item > p {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 23px;
  letter-spacing: 0.075em;
  color: rgba(255, 255, 255, 0.7);
  justify-self: center;
  width: 80%;
  grid-row: 3/4;
}

.owl-stage {
  width: 100vw;
}