/* 
      !IMPORTS
*/

@import "fonts.css";
@import "header.css";
@import "./css_components/about_us.css";
@import "./css_components/planets.css";
@import "./css_components/planet_01.css";

/* !MAIN */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: black;
  background-image: url('../images/Blur.svg');
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: contain;
  flex-direction: column;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
}